# Data Science Library
numpy
pandas
scipy
scikit-learn

# Visualization Library
matplotlib
seaborn
plotly

# Deep Learning Library
tensorflow
torch
torchvision
torchaudio

# Others
tqdm
opencv-python # cv2
requests # HTTP request
beautifulsoup4 # web scraping
lxml # XML/HTML

# Jupyter for VSCode
ipykernel
notebook

# Kaggle API (Download Kaggle datasets)
kaggle

# sudachi mecab
sudachipy
sudachidict_core

# WEB Framework
fastapi
uvicorn
pydantic
starlette

# Others
yt-dlp
